<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Belajar VUEEE GANNNN</title>
	<link rel="stylesheet" href="">

</head>
<body>

	<div id="app">


		<!-- {{ laki ? 'Dia Laki-Laki' : 'Dia Perempuan' }}

		<br>

		{{ nama.split('').reverse().join('') }}
		<br>

		{{ nama + " Ahmad Wijaya" }} , {{ umur }} 
		<span v-html="raw"></span> -->


	   <!--  v-show merubah css menjadi display none
		<div v-show="this.umur > 10">
		{{ biodata }}
		</div>

		If Menghilangkan Elemen Menjadi benar2 hilang
		<div v-if="done">
		{{ biodata }}
		</div>

		<div v-else>
		Biodata Bersatus False
		</div> -->


		<!-- Btw Untuk $index Udah Ga Bisa Di Pake :'( -->
		<!-- <ul>

		    <li v-for="member in members" track-by="$index">    	
		    	{{ member.nama | lowercase }} berumur {{ member.umur }}
		    </li>
		    <br>
		     <li v-for="member in members" track-by="$index">    	
		    	{{ member.nama | uppercase }} berumur {{ member.umur }}
		    </li>


		    <h2>Filter Nama</h2>

		    <input type="text" v-model="search" placeholder="Search Nama">

		    <br><br>

		    <div v-for="member in filternama">
		    	<li> {{ member.nama }} berumur {{ member.umur }}</li>
		    </div>

		    <br><br>
		    
		</ul> -->
		<input type = "text" v-on:keyup.13= "TEKANENTER">
		<button v-on:click="boom('Sukses Kirim Boom')"> Klik Disini </button>

	<!-- 	Prevent Tidak Meload Ulang Halaman Tapi Function Tetap Terpanggil -->
		<a href="" v-on:click.prevent="TEKANENTER"></a>

	</div>


	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script>

			var vo = new Vue({
				el: '#app',
				data: {

				},
				methods:{
					boom : function(text){
						console.log('Boom Terpanggil')
						alert('Boom ! ' + text)
					},

					TEKANENTER : function(){
						console.log('Anda Menekan Enter')
						
					},

				},
			});

			// Vue.filter('uppercase', function(value){
			// 	return value.toUpperCase();
			// });

			// var vo = new Vue({
			// 	el: '#app',

			// 	data: {
			// 		members : [
			// 			{ nama: "kurniadi", umur: 11 },
			// 			{ nama: "ahmad", umur: 12 },
			// 			{ nama: "wijaya", umur: 13 },
			// 			{ nama: "adrian", umur: 14 },
			// 			{ nama: "hafizh", umur: 15 },
			// 			{ nama: "aryaputra", umur: 16 },
			// 			{ nama: "muhammad", umur: 17 },
			// 			{ nama: "ilham", umur: 18 },
			// 			{ nama: "mubarak", umur: 19 },

			// 		],

			// 		search: '',

			// 		// members2 :{
			// 		// 	Nama : "Kurniadi",
			// 		// 	Umur : 16,
			// 		// 	Bahasa : "VueJS"
			// 		// }
			// 	},

			// 	computed:{
			// 		filternama: function(){
			// 			return this.members.filter((member) => {
			// 				return member.nama.match(this.search);
			// 			})
			// 		}
			// 	},


			// 	filters:{
			// 		lowercase : function(value){
			// 			return value.toLowerCase();
			// 		}

			// 	},

			// });

			// var vo = new Vue({
			
			// 	el: '#app',

			// 	data : {
			// 	 nama : "Kurniadi Ahmad Wijaya",
			// 	 umur : 16,
			// 	 done : false
			// 	},

			// 	computed: {
			// 		biodata: {
			// 			get: function(){
			// 				return this.nama + " Umurnya " +  this.umur
			// 			},

			// 			set: function(params){
			// 				var credential = params.split('')
			// 				this.nama = credential[0]
			// 				this.umur = credential[1]
			// 			}
			// 		}
			// 	}

			// });
		

			// var vo = new Vue({
			
			// 	el: '#app',

			// 	data : {
			// 	nama: "Kurniadi",
			// 	umur: 16,
			// 	raw : '<p> <b> Belajar VueJS Asik Dan Mudah Ea 11!11!!1! </b> </p>',
			// 	laki: true
			// 	},

			// });
		

	</script>

</body>
</html>